{% extends "dash.html" %}

{% block dash_app %}

<style type="text/css">
	.holiday {
		color: red!important;
	}
	#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
</style>

<!--日历css-->
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-datepicker.min.css') }}">
<!--日历插件js-->
<script src="{{ url_for('static',filename='js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap-datepicker.zh-CN.min.js') }}"></script>


<script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak={{ak}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bmap.js')}}"></script>

<!-- <main class="dash-content">
	<div class="container-fluid"> -->
		<div id="allmap"></div>
		<div id="cards" class="row" style="z-index: 99;">
			<div id="searchType" style="display:none;"> port </div>
	        <div id="cardPort" style="position:fixed; top:100px; left:250px; width:500px; display:none;">
	            <div class="card easion-card">
	                <div class="card-header bg-primary text-white">
	                    <div class="easion-card-icon">
	                        <i class="fas fa-parking"></i>
	                    </div>
	                    <div class="easion-card-title">
	                    	<span id="portName"> 港口 - Port </span>
	                    	<br>
	                    	<span id="ctryName" style="font-size: small;"> 国家 - Country </span>
	                    </div>
	                    <div class="easion-card-menu">
                            <div class="dropdown show">
                                <a class="easion-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" id="tabCalendar">港口日历</a>
                                    <a class="dropdown-item" id="tabForecast">港口天气</a>
                                </div>
                            </div>
                        </div>
	                    <div id="closePort" role="button" style="margin-left: 30px;"> &times; </div>
	                </div>
	                <div class="card-body ">
	                	<h5 style="margin-bottom:15px; font-weight:bold;"> 港口信息 </h5>
	                	<table id="tblPort">
	                		<thead>
		                		<tr>
		                			<th scope="col" style="width: 80px;"></th>
		                			<th scope="col"></th>
		                		</tr>
	                		</thead>
	                		<tbody>
		                		<tr>
		                			<th scope="row">中文名称</th>
		                			<td id="nameCn">测试</td>
		                		</tr>
		                		<tr>
		                			<th scope="row">英文名称</th>
		                			<td id="nameEn">CE SHI</td>
		                		</tr>
		                		<tr style="display: none;">
		                			<th scope="row">国家代码</th>
		                			<td id="ctryCode">CN</td>
		                		</tr>
		                		<tr>
		                			<th scope="row">港口代码</th>
		                			<td id="portCode">TEST</td>
		                		</tr>
		                		<tr>
		                			<th scope="row">港口坐标</th>
		                			<td id="portCoords">0 N, 0 E</td>
		                		</tr>
	                		</tbody>
	                	</table>
	                </div>
	            </div>
	        </div>        
	        <div id="cardVessel" style="position:fixed; top:100px; left:250px; width:500px; display:none;">
	            <div class="card easion-card">
	                <div class="card-header bg-warning text-dark">
	                    <div class="easion-card-icon">
	                        <i class="fas fa-ship"></i>
	                    </div>
	                    <div class="easion-card-title">
	                    	<span id="vesselName"> 船舶 - Vessel </span>
	                    	<br>
	                    	<span style="font-size:small;">
	                    		<span class="badge badge-light" id="vesselTypeNameCn"> 船舶类型 </span>
	                    		<span class="badge badge-dark" id="operatorBodyCn"> 所属公司 </span>
	                    	</span>
	                    </div>
	                    <div class="easion-card-menu">
                            <div class="dropdown show">
                                <a class="easion-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{url_for('carbon.carbon_BaseInfo')}}">能耗监测</a>
                                    <a class="dropdown-item" href="{{url_for('carbon.carbon_Transaction')}}">碳交易</a>
                                </div>
                            </div>
                        </div>
	                    <div id="closeVessel" role="button" style="margin-left: 30px;"> &times; </div>
	                </div>
	                <div class="card-body">
	                	<h5 style="margin-bottom:15px; font-weight:bold; display:inline;"> 船舶信息 </h5>
	                	<span style="color:red; font-weight:bold;">
		                	<span>&nbsp;&nbsp;&nbsp;当前位置:&nbsp;</span>
		                	<span id="curCoords"></span>
		                </span>
	                	<div style="height:50px; font-size:x-large; font-weight:bold; margin-top:10px">
	                		<span style="color:blue;">
		                		<span id="legStartPortNameCn">起点</span>
		                		<span>【</span>
		                		<span id="legStartPortCtryCode">AA</span>
		                		<span>】</span>
		                	</span>
	                		<span>&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;</span>
	                		<span style="color:green;">
		                		<span id="legEndPortNameCn">终点</span>
		                		<span>【</span>
		                		<span id="legEndPortCtryCode">BB</span>
		                		<span>】</span>
		                	</span>
	                	</div>
	                	<table id="tblVessel">
	                		<thead>
		                		<tr>
		                			<th scope="col" style="width: 150px;"></th>
		                			<th scope="col"></th>
		                		</tr>
	                		</thead>
	                		<tbody>
		                		<tr>
		                			<th scope="row">船舶类型</th>
		                			<td id="vesselTypeFullNameCn">超大超大超大型船</td>
		                		</tr>
		                		<tr>
		                			<th scope="row">MMSI</th>
		                			<td id="mmsi">999888777</td>
		                		</tr>
		                		<tr>
		                			<th scope="row">IMO</th>
		                			<td id="imo">7654321</td>
		                		</tr>
		                		<tr style="display: none;">
		                			<th scope="row">呼号</th>
		                			<td id="callsign">ABCDE</td>
		                		</tr>
		                		<tr>
		                			<th scope="row">载重吨</th>
		                			<td id="dwt">300000</td>
		                		</tr>
		                		<tr>
		                			<th scope="row">长&nbsp;*&nbsp;宽&nbsp;*&nbsp;高</th>
		                			<td id="length_width_height">100.0&nbsp;&times;&nbsp;100.0&nbsp;&times;&nbsp;100.0&nbsp;m</td>
		                		</tr>
		                		<tr>
		                			<th scope="row">建成年月</th>
		                			<td id="buildYearMonth">2010-01</td>
		                		</tr>
		                		<tr>
		                			<th scope="row">设计吃水&nbsp;/&nbsp;航速</th>
		                			<td id="draught_speed">22.0&nbsp;m&nbsp;/&nbsp;15.0&nbsp;kn</td>
		                		</tr>
	                		</tbody>
	                	</table>
	                </div>
	            </div>
	        </div>
	        <div id="cardCalendar" style="position:fixed; top:350px; left:250px; display:none;">
		        <div class="card easion-card">
	                <div class="card-header bg-success text-white">
	                    <div class="easion-card-icon">
	                        <i class="fas fa-calendar-alt"></i>
	                    </div>
	                    <div class="easion-card-title"> 港口日历 </div>
	                    <div class="easion-card-menu" id="closeCalendar" role="button"> &times; </div>
	                </div>
	                <div class="card-body">
	                	<div id="calendar" class="bench-calendar">
							<!-- 这里是日历 -->
						</div>
	                </div>
	            </div>
	       	</div>
	       	<div id="cardDate" style="position:fixed; top:420px; left:730px; min-width: 400px; display:none;">
		        <div class="card easion-card">
	                <div class="card-header">
	                    <div class="easion-card-icon">
	                        <i class="far fa-sticky-note"></i>
	                    </div>
	                    <div class="easion-card-title"> 日期详情 </div>
	                    <div class="easion-card-menu" id="closeDate" role="button"> &times; </div>
	                </div>
	                <div class="card-body">
	                	<p id="activeDate"> 2022年12月5日 </p>
	                	<div id="holidays">
							<p>无假期信息</p>
						</div>
	                </div>
	            </div>
	       	</div>
	        <div id="cardForecast" style="position:fixed; top:180px; left:480px; display:none;">
		        <div class="card easion-card">
	                <div class="card-header bg-info text-white">
	                    <div class="easion-card-icon">
	                        <i class="fas fa-cloud-sun"></i>
	                    </div>
	                    <div class="easion-card-title"> 港口天气 </div>
	                    <div class="easion-card-menu" id="closeForecast" role="button"> &times; </div>
	                </div>
	                <div class="card-body" style="width:950px; margin-left:20px">
	                	<div style="display:inline-block; text-align:center; float:left; margin-top:20px">
							<h3 id="wPortName" style="margin-top:10px">港口名</h3>
							<img id="iconData" style="height:120px;"/>
							<div id="description" style="height:35px; font-size:large;">天气描述</div>
							<div id="temperature" style="height:35px; font-size:large;">温度</div>
							<table style="font-size:medium; margin-top:20px">
								<thead>
									<tr>
										<td style="width:100px"></td>
										<td></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>体感温度</td>
										<td id="feelLike">None</td>
									</tr>
									<tr>
										<td>风速</td>
										<td id="windSpeed">None</td>
									</tr>
									<tr>
										<td>风向</td>
										<td id="windDeg">None</td>
									</tr>
									<tr>
										<td>湿度</td>
										<td id="humidity">None</td>
									</tr>
									<tr>
										<td>气压</td>
										<td id="pressure">None</td>
									</tr>											
								</tbody>
							</table>
						</div>
						<div style="display: inline-block; float:right; margin-top:20px">
							<div id="forecastDetail" style="font-size: small; margin-left: 50px;">
							</div>
							<div class="card-body easion-card-body-chart" style="width:600px; margin-top:30px;">
	                            <canvas id="easionChartjsLine"></canvas>
	                        </div>
                        </div>
	                </div>
	            </div>
	       	</div>
		</div>
<!-- 	</div>
</main> -->

<script type="text/javascript">
	$(document).ready(function () {
		// 百度地图
		let map = new BMapGL.Map("allmap");	// 创建Map实例
		let m_cur_id = "m_cur", m_start_id = "m_start", m_end_id = "m_end";
		showBMap(map);

		$("#searchType").text("port");
		$("#txtSearch").attr("placeholder", "输入港口");
		$("#btnSearchType").show();
		$("#searchPortIcon").show();

		function getMaxIndex(obj) {
			let elems = obj.siblings();
			let max_index = 0;
			elems.each(function(index, elem){
				let temp_index = $(elem).css('z-index');
				if(temp_index != "auto" && temp_index > max_index)
					max_index = temp_index;
			});
			return max_index;
		}

		// 搜索港口
		function searchPort() {
			let content = document.getElementById("txtSearch").value;
			if(content.length < 1)
				return;
			
			let url_get_port_info = "{{ url_for('map.get_port_info') }}";
			//alert(content+" "+url_get_port_info);
			
			$.ajax({
				type: "GET",
				url: url_get_port_info,
				data: {
					"port": content,
					"last_code": $("#portCode").text()
				},
				success: function(data){
					// 查询失败
					if(data.status == false){
						let msg = "未搜索到港口【" + content + "】相关信息";
						alert(msg);
						return;
					}

					// 清空所有标记
					map.clearOverlays();

					// 静态信息，和上次查询的港口不一样则重新设置；一样则无需重复设置
					if(data.status != "same"){
						let portName = data.nameCn + " - " + data.nameEn;
						$("#portName").text(portName);

						let ctryName = data.ctryNameCn + " - " + data.ctryNameEn;
						$("#ctryName").text(ctryName);
						$("#ctryCode").text(data.ctryCode);

						$("#nameCn").text(data.nameCn);
						$("#nameEn").text(data.nameEn);
						$("#portCode").text(data.portCode);

						let coords = data.latStr + ", " + data.lonStr;
						$("#portCoords").text(coords);
					}

					// 找最顶层的card
					let tempCard = $("#cardPort");
					let max_index = getMaxIndex(tempCard);

					// 当前card置顶显示
					tempCard.css("z-index", max_index+1);
					tempCard.show();

					// 地图标记
					mapCenterAndZoom(map, data.lon, data.lat, 11)
					markCurrentPoint(map, data.lon, data.lat, m_cur_id, data.nameCn);
					//map.centerAndZoom(new BMapGL.Point(106, 34), 8);
				},
				error: function(){
					alert("ERROR: searchPort");
				}
			});
		}

		// 搜索船舶
		function searchShip() {
			let content = document.getElementById("txtSearch").value;
			if(content.length < 1)
				return;
			
			let url_get_ship_info = "{{ url_for('map.get_ship_info') }}";
			//alert(content+" "+url_get_ship_info);
			
			$.ajax({
				type: "GET",
				url: url_get_ship_info,
				data: {
					"ship": content,
					"last_mmsi": $("#mmsi").text()
				},
				success: function(data){
					// 查询失败
					if(data.status == false){
						let msg = "未搜索到船舶【" + content + "】相关信息";
						alert(msg);
						return;
					}
					
					// 清空所有标记
					map.clearOverlays();

					// 静态信息，和上次查询的船舶不一样则重新设置；一样则无需重复设置
					if(data.status != "same"){
						let vesselName = data.ship_nameCn + " - " + data.ship_nameEn;
						$("#vesselName").text(vesselName);

						$("#vesselTypeNameCn").text(data.vesselTypeNameCn);
						$("#operatorBodyCn").text(data.operatorBodyCn);

						$("#vesselTypeFullNameCn").text(data.vesselTypeFullNameCn);
						// 编号
						$("#mmsi").text(data.mmsi);
						$("#imo").text(data.imo);
						$("#callsign").text(data.callsign);

						// 属性参数
						$("#dwt").text(data.dwt);
						$("#length_width_height").text(data.length_width_height);
						$("#buildYearMonth").text(data.buildYearMonth);
						$("#draught_speed").text(data.draught_speed);
					}

					// 动态信息，每次查询重新设置
					// 起点【AA】 → 终点【BB】
					$("#legStartPortNameCn").text(data.legStartPortNameCn);
					$("#legStartPortCtryCode").text(data.legStartPortCtryCode);
					$("#legEndPortNameCn").text(data.legEndPortNameCn);
					$("#legEndPortCtryCode").text(data.legEndPortCtryCode);

					// 经纬度坐标转换
					// let latStr = data.lat + " N";
					// if(data.lat < 0)
					// 	latStr = -data.lat + " S";

					// let lonStr = data.lon + " N";
					// if(data.lon < 0)
					// 	lonStr = -data.lon + " W";

					// 当前位置坐标
					let coords = data.latStr + ", " + data.lonStr;
					$("#curCoords").text(coords);

					// 找最顶层的card
					let tempCard = $("#cardVessel");
					let max_index = getMaxIndex(tempCard);
					
					// 当前card置顶显示
					tempCard.css("z-index", max_index+1);
					tempCard.show();

					// 画出路线
					let m_ship_track_id = "ship_track";
					removeOverlayByID(map, m_ship_track_id);

					// p_list = [[106, 34],[125, 45],[136, 74]];
					// drawPolyTrack(map, m_ship_track_id, data.p_list, "blue");

					// 已经过的路线
					drawPolyTrack(map, m_ship_track_id, data.ship_track_history, "blue");
					// 预测路线，加入当前点
					let track_predict = [[data.lon, data.lat], ...data.ship_track_predict]
					drawPolyTrack(map, m_ship_track_id, track_predict, "green");

					// 标记途经点
					// 一共n个点，只标记npoints个点
					let npoints = 20;
					let shape = "flag", scale = 1.2;
					markPointList(map, data.ship_track_history, shape, "blue", scale, npoints);
					markPointList(map, data.ship_track_predict, shape, "green", scale, npoints);

					// 聚焦当前位置
					map.centerAndZoom(new BMapGL.Point(data.lon, data.lat), 4);
					markCurrentPoint(map, data.lon, data.lat, m_cur_id, "当前位置");

					let start_label = "起点: " + data.legStartPortNameCn;
					let end_label = "终点: " + data.legEndPortNameCn;
					let p_start = data.ship_track_history[0];
					let p_end = data.ship_track_predict[data.ship_track_predict.length-1];

					shape = "circ";
					markCurrentPoint(map, p_start[0], p_start[1], m_start_id, start_label,
						shape, "blue", scale);
					markCurrentPoint(map, p_end[0], p_end[1], m_end_id, end_label,
						shape, "green", scale);
				},
				error: function(){
					alert("ERROR: searchShip");
				}
			});
		}


		$("#closePort").on("click", function(){
			$("#cardPort").hide();
		});
		$("#closeVessel").on("click", function(){
			$("#cardVessel").hide();
		});

		$("#closeCalendar").on("click", function(){
			$("#cardCalendar").hide();
		});

		$("#closeDate").on("click", function(){
			$("#cardDate").hide();
		});

		$("#closeForecast").on("click", function(){
			$("#cardForecast").hide();
		});

		// TODO: 搜索框内容变化，智能提示
		$("#txtSearch").on("input propertychange", function(){
			let content = document.getElementById("txtSearch").value;
			// if(content.length > 0)
			// 	$("#listSearch").show();
			// else
			// 	$("#listSearch").hide();

			// port_list = document.getElementById("listSearch");
			// let opts = "";
			// for (var i = 0; i < port_list.options.length; i++) {
			//   opts = opts + port_list.options[i].value + "\n";
			//  }
			// alert(opts);
		});

		// 回车搜索
		$("#txtSearch").keypress(function(e){
			let ev = e || event;
			if(ev.keyCode == 13){
				if($("#searchType").text() == "ship")
					searchShip();
				else
					searchPort();
			}
		});

		// 点击搜索
		$("#btnSearch").click(function() {
			if($("#searchType").text() == "ship")
				searchShip();
			else
				searchPort();
		});


		// 切换搜索类型
		$("#btnSearchType").click(function() {
			if($("#searchType").text() == "ship"){
				$("#searchShipIcon").hide();
				$("#searchPortIcon").show();

				$("#searchType").text("port");
				$("#txtSearch").attr("placeholder", "输入港口");
			}
			else {
				$("#searchPortIcon").hide();
				$("#searchShipIcon").show();

				$("#searchType").text("ship");
				$("#txtSearch").attr("placeholder", "输入船舶");
			}
		});

		function resizeCalendar() {
			$(".datepicker").css({"width":"440px"});
			// 日期选择表
			$(".datepicker-days thead tr").each(function (idx, elem){
				if(idx == 0)	//标题高度不变
					return;
				$(this).css({"height":"50px"});
			});
			// 月份选择表
			$(".datepicker-months thead tr").each(function (idx, elem){
				if(idx == 0)	//标题高度不变
					return;
				$(this).css({"height":"50px"});
			});
			$(".datepicker-years thead tr").each(function (idx, elem){
				if(idx == 0)	//标题高度不变
					return;
				$(this).css({"height":"50px"});
			});
			$(".datepicker-decades thead tr").each(function (idx, elem){
				if(idx == 0)	//标题高度不变
					return;
				$(this).css({"height":"50px"});
			});
			$(".datepicker-centuries thead tr").each(function (idx, elem){
				if(idx == 0)	//标题高度不变
					return;
				$(this).css({"height":"50px"});
			});
			$(".table-condensed tbody tr").each(function (idx, elem){
				$(this).css({"height":"50px"});
			});
			$(".dow").each(function (idx, elem) {
				$(this).css({"width":"60px"});
			});
		};

		function changeSwitchBody(size) {
			setTimeout(function (size) {;
				$(".datepicker").css({"width":"200px"});
			},0);
		};

		function markHolidays() {
			let url_get_holidays = "{{ url_for('map.get_holidays') }}"
			// alert(url_get_holidays);

			$.ajax({
				type: "GET",
				url: url_get_holidays,
				data: {
					"ctryCode": $("#ctryCode").text(),
					"year": $(".year.focused").text(),
					"month": $(".month.focused").text().slice(0,-1), //xx月 => xx
				},
				success: function(data){
					// if(data == null)
					// 	return;

					//alert("len: " + data.length)
					let note_style = "style='font-size:x-small;'";
					// 查询成功
					$(".old.day").each(function (idx, elem) {
						let txt = $(this).text();
						let note = "&nbsp;";
						$(this).html(txt + "<br><div " + note_style + ">" + note + "</div>");
					});
					$(".day").not(".old").not(".new").each(function (idx, elem) {
						// 添加样式
						let txt = $(this).text();
						let note = "&nbsp;";
						let holidays_html = "<p>无假期信息</p>";
						for(let i=0; i < data.length; i++){
							if(1+idx == data[i]["dateDay"]){
								$(this).addClass("holiday");
								note = "节假日";
								let holidays = data[i]["holidays"];
								holidays_html = "<p>假期信息:</p>"
								for(let k=0; k < holidays.length; k++){
									holidays_html = holidays_html + "<p>"
										+ (k+1) + ".&nbsp;" + holidays[k]["holidayNameEn"] 
										+ "&nbsp;【" + holidays[k]["holidayType"]  + "】"
										+ "</p>";
								}
								break;
							}
						}
						$(this).html(txt + "<br><div " + note_style + ">" + note + "</div>");
						$(this).click(function(){
							setTimeout(function () {
								changeCalendarBody();
								// 日期
								let activeDate = $(".year.focused").text() + "年"
									+ $(".month.focused").text()
									+ $(".active.day").text() + "日";
								$("#activeDate").text(activeDate);
								$("#holidays").html(holidays_html);

						    	let tempCard = $("#cardDate");
								let max_index = getMaxIndex(tempCard);
								tempCard.css("z-index", max_index+1);	// 置顶
								tempCard.show();
							},0);
						});
					});
					$(".new.day").each(function (idx, elem) {
						let txt = $(this).text();
						let note = "&nbsp;";
						$(this).html(txt + "<br><div " + note_style + ">" + note + "</div>");
					});
				},
				error: function(){
					alert("ERROR: markHolidays");
				}
			});
		}

		function changeCalendarBody() {
			setTimeout(function () {
				$(".datepicker").css({"width":"440px"});
				// $(".day").each(function (idx, elem) {
				// 	let txt = $(this).text();
				// 	$(this).html(txt+"<br>");
				// });
				markHolidays();
			},0);
		};

		// 日历
		$("#calendar").datepicker({
			language: "zh-CN",
			autoclose: true,
			todayHighlight: true
		});

		resizeCalendar();
		changeCalendarBody();

		// 填充天气预报面板
		function fillForecast() {
			let url_get_forecast =  "{{ url_for('map.get_forecast') }}";
			let portCode = $("#portCode").text(); //"CNYSN";
			$.ajax({
				type: "GET",
				url: url_get_forecast,
				data: {
					"portCode": portCode
				},
				success: function(data){

					// 今日天气
					let today = data.current;

					// <div id="wPortName">港口名</div>
					// <div id="description">天气描述</div>
					// <img id="iconData" width="100px">
					// <div id="temperature">温度</div>
					// <div id="windSpeed">风速</div>
					// <div id="windDeg">风向</div>
					// <div id="feelLike">体感温度</div>
					$("#wPortName").text($("#nameCn").text());
					$("#description").text(today.description);
					$("#iconData").attr("src", today.iconData);
					$("#temperature").text(today.temp + " ℃");

					let windSpeed = today.windSpeed + " m/s (" + today.windSpeedLevel + "级)";
					let windDeg = today.windDeg + "° (" + today.windDegCn + ")";
					$("#windSpeed").text(windSpeed);
					$("#windDeg").text(today.description);
					$("#feelLike").text(today.feelLike + " ℃");
					$("#humidity").text(today.humidity + " %");
					$("#pressure").text(today.pressure + " hPa");

					// 天气预报
					let fdetail = data.forecastDetail;

					let dayWeekDescCn = fdetail.dayWeekDescCn;
					dayWeekDescCn[0] = "今天";

					let tempMax = fdetail.tempMax;
					let tempMin = fdetail.tempMin;

					// 显示下面一周的天气 【星期，图标，天气】
					let fcontent = "";
					for(let i = 0; i < fdetail.description.length; i++){
						fcontent = fcontent
							+ '<div style="text-align:center; display:inline-block; width:65px;">'
								+ '<div>' + fdetail.dayWeekDescCn[i] + '</div>'		// 星期几
								+ '<img height="55px" src="' + fdetail.iconData[i] + '"</div>'	// 天气图标
								+ '<div>' + fdetail.description[i] + '</div>'		// 天气描述
							+ '</div>';
					}
					$("#forecastDetail").html(fcontent);

					// 画气温折线图
                    var ctx = document.getElementById("easionChartjsLine").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
			                labels: dayWeekDescCn, // ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
			                datasets: [
			                {
			                    label: '最高气温',
			                    data: tempMax, // [4, 12, 11, 2, 14],
			                    backgroundColor: window.chartColors.danger,
			                    borderColor: window.chartColors.danger,
			                    fill: false,
			                    lineTension: 0
			                },
			                {
			                    label: '最低气温',
			                    data: tempMin, // [12, 19, 3, 5, 2],
			                    backgroundColor: window.chartColors.primary,
			                    borderColor: window.chartColors.primary,
			                    fill: false,
			                    lineTension: 0
			                }]
                        },
			            options: {
			                legend: {
			                    display: true
			                },
						    scales: {
						        xAxes: [{
						            gridLines: {
						                display: false
						            }
						        }],
						        yAxes: [{
						        	display: false
						        }]
						    },
			                // 默认显示数据值
			                animation: {
				                onComplete: function() {
				                	let chartInst = this.chart;
				                	let ctx = chartInst.ctx;
									ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
			                        ctx.textAlign = 'center';
			                        ctx.textBaseline = 'bottom';

				                	this.data.datasets.forEach(function(dataset, i){
				                		if(i == 0)
				                			ctx.fillStyle = window.chartColors.danger;
				                		else
				                			ctx.fillStyle = window.chartColors.primary;

				                		let meta = chartInst.controller.getDatasetMeta(i);
				                		meta.data.forEach(function(bar, index){
				                			let data = dataset.data[index] + "℃";
				                			ctx.fillText(data, bar._model.x, bar._model.y-5);
				                		});
				                	});
				                }
				            }
			            }
                    });
				},
				error: function(){
					alert("ERROR: fillForecast");
				}
			});
	    }

		$(".datepicker-days .prev").on("click", function() {
			changeCalendarBody();
		});
		$(".datepicker-days .next").on("click", function() {
			changeCalendarBody();
		});
		$(".datepicker-switch").on("click", function() {
			changeSwitchBody();
		});
		// 切回日历，调整页面大小
		$(".datepicker-months tbody").on("click", function() {
			changeCalendarBody();
		});

		$("#tabForecast").on("click", function() {
	    	fillForecast();

	    	let tempCard = $("#cardForecast");
			let max_index = getMaxIndex(tempCard);
			tempCard.css("z-index", max_index+1);	// 置顶
			tempCard.show();
		});
		$("#tabCalendar").on("click", function() {
	    	let tempCard = $("#cardCalendar");
			let max_index = getMaxIndex(tempCard);
			tempCard.css("z-index", max_index+1);	// 置顶
			tempCard.show();
		});


		// 悬浮窗
		hoverElementByID("cardPort");
		hoverElementByID("cardVessel");
		hoverElementByID("cardCalendar");
		hoverElementByID("cardForecast");
		hoverElementByID("cardDate");

	});
</script>

{% endblock dash_app %}
