
{% block styles %}
<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
<link href="{{url_for('static',filename='css/easion.css')}}", rel="stylesheet">
{% endblock styles %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.6.1.min.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/chart-js-config.js')}}"></script>
<script src="{{url_for('static',filename='js/easion.js')}}"></script>
{% endblock scripts %}

{% block body %}
{% block content %}
<section>
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% for message in messages %}
		<div class="alert alert-info alert-dismissable" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
			</button>
			{{ message }}
		</div>
		{% endfor %}
		{% endwith %}
	</div>
</section>
{% block app_content %}
{% endblock app_content %}
{% endblock content %}

{% block myjavascript %}
{% endblock myjavascript %}

{% endblock body %}
